<div class="title">Sprint Management</div>


<form class="example-form w-50 mx-auto mt-4" [formGroup]="myformbuilder">
    
  
    <mat-form-field class=" w-50">
        <mat-label>Enter SprintName</mat-label>
        <input matInput placeholder="Libelle" formControlName="SprintName" >
      </mat-form-field>
      <br>
      <mat-form-field class=" w-50">
        <mat-label>Enter  SprintGoal</mat-label>
        <input matInput placeholder="Sprint Days" type="text" formControlName="SprintGoal" >
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Choose a Start date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="DateDebut"  >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Choose a End date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="DateFin"  >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    <br>    
    <mat-form-field>
      <mat-label>Choose Project</mat-label>
      <mat-select (selectionChange)="handleSelectionChange($event)">
        <mat-option *ngFor="let p of projects" [value]="p">{{p.Libelle}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <br>

    
    

    <button mat-raised-button color="primary" (click)="addSprint()">Add Sprint</button>

  </form>
  
  <p *ngIf="message=='error'" class="alert alert-danger mt-4 w-75 mx-auto">Please make sure that you're complete all fields</p>
