<div class="body">
<section>
    <div class="container">
<div class="card">
    <div class="content">
        <div class="imgBox"><img src="../../../assets/imgs/pic1.jpg" alt=""></div>
        <div class="contentBox">
            <h3>Salah-eddine <br><span>Java Developer</span></h3>
        </div>
    </div>
    <ul class="sci" >
        <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
        </li>
        <li style="--i:2">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
           </a>
        </li>
    </ul>
</div> 
<div class="card">
    <div class="content">
        <div class="imgBox"><img src="../../../assets/imgs/pic1.jpg" alt=""></div>
        <div class="contentBox">
            <h3>Someone Famous <br><span>Creative Design</span></h3>
        </div>
    </div>
    <ul class="sci" >
        <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
        </li>
        <li style="--i:2">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
           </a>
        </li>
    </ul>
</div> 
<div class="card">
    <div class="content">
        <div class="imgBox"><img src="../../../assets/imgs/pic1.jpg" alt=""></div>
        <div class="contentBox">
            <h3>Someone Famous <br><span>Creative Design</span></h3>
        </div>
    </div>
    <ul class="sci" >
        <li style="--i:1">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
           </a>
        </li>
        <li style="--i:2">
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
           </a>
        </li>
        <li style="--i:3">
            <a href="#"><i class="fas fa-instagram" aria-hidden="true"></i>
           </a>
        </li>
    </ul>
</div> 
</div>
</section>
</div>
<i class="fas fa-heart"></i>
