<div class="content">
    <div class="data">
       <router-outlet></router-outlet>
    </div>
    <div class="menuToggle"></div>
    <div class="sidebar">
        <ul>
            <li class="logo" style="--bg:#333;" routerLink="store">
            <a >
                <div class="icon"><img src="../assets/imgs/mylogo.PNG" class="mylogo" alt=""></div>
                <div class="text">Mini Project</div>
            </a>
            
            </li>
            <div class="Menulist" routerLink="store">
                <li style="--bg:#0fc70f" class="active">
                    <a routerLink="home">
                        <div class="icon"><ion-icon name="home-outline"></ion-icon></div>
                        <div class="text">Home</div>
                    </a>
                </li>
                <li style="--bg:#0fc70f" routerLink="store">
                    <a routerLink="projects">
                        <div class="icon"><ion-icon name="browsers-outline"></ion-icon></div>
                        <div class="text">Project</div>
                    </a>
                </li>
                <li style="--bg:#0fc70f" routerLink="store">
                    <a routerLink="sprints" >
                        <div class="icon"><ion-icon name="analytics-outline"></ion-icon></div>
                        <div class="text">Sprint</div>
                    </a>
                </li>
                
            </div>
            <div class="bottom">
                <li style="--bg:#333" routerLink="store">
                    <a href="#">
                        <div class="icon">
                        <div class="imgBx">
                            <img src="../assets/imgs/pic1.jpg" alt="">
                        </div>
                   </div> 
                   <div class="text">salah-eddine</div>
                </a>
                </li>
                <li style="--bg:#333" routerLink="store">
                    <a href="#">
                        <div class="icon"><ion-icon name="log-out-outline"></ion-icon></div>
                        <div class="text">
                          Logout
                        </div>
                    </a>
                </li>
            </div>
        </ul>
    </div>

</div>








